@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');
body {
    background-color: rgb(230, 140, 207);
    font-family: 'Comic Neue', cursive;
    margin: 0;
}
h1 {
    font-weight: 900;
    font-size: 50pt;
    margin: 0;
}
header {
    max-height: 2rem;
    min-height: 2rem;
    background-color: rgb(0, 0, 0);
}
div.content {
    margin-left: 5%;
    margin-right: 5%;
}